/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: blue;
}

header{
  width: 90%; /*横幅90%*/
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

header .heading{ /*headerタグ内のheadingクラスにのみ反映される*/
  font-size: 32px;
}

.nav-list{
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.nav-list-item{
  display: inline-block;
  margin: 0 20px;
}

.main-visual{
  width: 100%; /*横幅いっぱい*/
  height: 50px; /*高さ50px*/
}
.main{
  width: 800px; /*横幅840px*/
  display: flex; /*Flexboxの利用*/
  justify-content: center;/*子要素の横並び・中央寄せ*/
  flex-wrap: wrap;
  margin: 0 auto;/*中央寄せ(左右に余白がないとできない)*/
  line-height: 3000px;
}

.color1{
  width: 200px;
  height: 200px;
  background-color: #e5ffe9;
}

.color2{
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}  
.color3{
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}  
  
.color4{
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}  

.color5{
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}  

.color6{
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}  

.color7{
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}  

.color8{
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}  

.color9{
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}  

.color10{
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}  

.color11{
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}    

.color12{
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}  

.yohaku{
  width: 100%; /*横幅いっぱい*/
  height: 50px; /*高さ50px*/
}
footer {
  width: 100%; /* 横幅いっぱい */
  height: 120px; /* 高さ120px */
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text{
  color: white;
}